__pycache__/
*.pyc
.DS_Store
node_modules/

# Ignore working artifacts under architecture/
architecture/**
!architecture/raw/
!architecture/rendered/
!architecture/specs/
!architecture/raw/.gitkeep
!architecture/rendered/.gitkeep
!architecture/specs/.gitkeep
